.container {
    display: flex;
    flex-direction:column;
    justify-content: center
}

.your_city {
    text-align: center;
    font-weight: 400;
}

.your_city>span {
    display: inline-block;
    margin-left: 8px;
    font-weight: 500;
}

.wrapper_date {
    text-align: center;
    margin: 20px 0;
}

.wrapper_date>span {
    color: #9E9E9E;
}

.temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);

}

.temperature>span>.icon {
    font-size: 8rem;
}

.temperature>p {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
}

.temperature>p>span {
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    right: -16px;
}

.status {
    text-align: center;
}

.status>p {
    font-weight: 600;
    font-size: 2rem;
    color: var(--black-color);
}

.sub_status {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_sub_status {
    margin: 10px;
    text-align: center;
}

.box_sub_status>span {
    color: #9E9E9E;
    padding: 4px 0;
    display: inline-block;
}

.box_sub_status>p {
    padding: 4px 0;
    font-size: 1.12rem;
    font-weight: 600;
}
