@media (min-width: 1024px) and (max-width: 1239px) {
    .App {
        width: 1024px;
    }
    
    .Container {
        width: 1024px;
    }
}

@media (max-width: 1023px) {
    .App {
        width: 644px;
        padding-top: 50px;
    }

    .Container {
        display: block;
        height: fit-content;
    }

    .Main_header {
        margin-left: 6px;
    }

    .Detail_container {
        flex-direction: row !important;
        margin: 45px 0 10px 0;
        justify-content: flex-start !important;
    }

    .Wrapper_detail {
        margin: 0 6px;
        display: flex;
        align-items: center;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
        width: 100%;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .Wrapper_detail>div {
        margin-right: 26px;
    }

    .Wrapper_detail>div:first-child {
        margin-left: 42px;
    }

    .Wrapper_detail>div:last-child {
        margin-top: 0 ;
        margin-right: 0;
    }

    .Wrapper_detail .icon_status {
        font-size: 5rem !important;
    }

    .Wrapper_detail .Temperature {
        font-size: 2rem;
    }

    .Wrapper_title_detail {
        position: absolute;
        top: 16px;
        left: 60px;
        display: flex;
        align-items: center;
    }

    .Wrapper_title_detail>div {
        margin: 0 0 0 10px;
    }

    .Wrapper_chart  {
        width: 735px !important;
    }
}


@media (max-width: 644px) {
    .App {
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
    }

    .icon_new_forecast {
        display: block;
    }

    .Btn_create>span {
        display: none ;
    }

    .Wrapper_select_city_width>div:first-child {
        width: 112px;
    }

    .Main_container {
        overflow-x: auto !important;
        width: 100%;
    }

    .Main_header {
        position: sticky;
        position: -webkit-sticky;
        left: 6px;
    }

    .Wrapper_forecast {
        width: 784px;
    }

    .Wrapper_chart {
        width: 878px !important;
        height: 120px
    }

    .Wrapper_main {
        width: 784px;       
        overflow: hidden;
        position: relative;
    }
}

@media (max-width: 578px) {
    .Wrapper_detail {
        justify-content: center;
    }

    .Wrapper_detail>div:first-child {
        margin-left: 0;
    }

    .Temperature {
        display: none !important; 
    }

    .Temperature_status {
        display: unset !important;
    }
    
    .Wrapper_detail>div:nth-child(2)>p {
        font-size: 1.2rem;
    }
}

@media (max-width: 468px) {
    .Wrapper_select_city {
        display: block !important;
    }

    .Wrapper_select_city>div:last-child {
        margin-top: 10px;
        margin-left: -6px;
    }

    .Option_unset {
        align-items: flex-start;
    }

    .Wrapper_title_detail  {
        left: 44px;
    }

    .Wrapper_title_detail>h4>span:first-child {
        display: none;
    }

    .Wrapper_detail .Temperature {
        font-size: 1.6rem ;
    }

    .Wrapper_detail .icon_status {
        font-size: 4rem !important;
    }

    .Wrapper_detail>div:nth-child(2) {
        margin-right: 0;
    }    

    .Wrapper_detail>div:nth-child(2)>p {
        font-size: 1.6rem;
    }

    .Temperature_status {
        font-size: 1.4rem !important;
    }

    .Temperature_status>p {
        font-size: 1rem !important;
    }

    .Wrapper_detail>div:nth-child(2)>p {
        font-size: 1.1rem;
    }

    .Modal {
        width: 100% !important;
        margin: 0 6px;
    }

}

@media (max-width: 468px) {
    .Wrapper_detail>div {
        margin-right: 0;
    }
}
