.container {
    background-color: var(--white-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 4px 0 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto, "Helvetica";
}

.list_sidebar {
    display: flex;
    align-items: center;
    height: 50px;
}

.list_sidebar li {
    margin: 0 10px;
}

.list_sidebar li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 1rem;
}

.active {
    height: 34px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #e6f7ff;
    background-color: var(--background-color);
    color: var(--primary-color);
}

@media (max-width: 466px) {
    .list_sidebar li {
        margin-right: 0;
    }

    .list_sidebar li a {
        padding-right: 0;
    }

    .title_refresh {
        display: none;
    }
}