.container {
    background-color: var(--white-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 4px 0 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto, "Helvetica";
}

.sidebar_mobile {
    height: 34px;
    width: fit-content;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
    background-color: transparent;
}

.list_sidebar {
    display: flex;
    align-items: center;
    height: 50px;
}

.list_sidebar li {
    margin: 0 10px;
}

.list_sidebar li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 1rem;
}

.active {
    height: 34px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #e6f7ff;
    background-color: var(--background-color);
    color: var(--primary-color);
}


.btn_menu {
    cursor: pointer;
    padding: 6px 8px;
    border: none;
    outline: none;
    color: var(--white-color);
    font-weight: 500;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    left: 10px;
    right: unset;
    z-index: 99;
}

.btn_menu:hover {
    opacity: .8;
}


.icon_menu {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.overlay_menu {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 99;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
}

.list_sidebar_mobile {
    position: fixed;
    left: -220px;
    bottom: 0;
    height: 100vh;
    top: 0;
    width: 220px;
    z-index: 99;
    background-color: var(--white-color);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: 10px 0;
}

.list_sidebar_mobile.active_sidebar_mobile {
    left: 0;
}

.list_sidebar_mobile li {
    margin: 6px 0;
}

.list_sidebar_mobile li:first-child {
    margin-top: 12px;
}

.list_sidebar_mobile li a {
    display: block;
    width: 100%;
    padding: 10px;
}

.active_mobile {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.wrapper_logo {
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
}

.logo {
    width: 60px;
}

.logo>img {
    width: 100%;
}

.wrapper_logo>p {
    margin-left: 6px;
    margin-bottom: 4px;
    color: var(--primary-color);
}

@media (max-width: 466px) {
    .list_sidebar li {
        margin-right: 0;
    }

    .list_sidebar li a {
        padding-right: 0;
    }

    .title_refresh {
        display: none;
    }
}